fastapi
uvicorn[standard]
argon2-cffi
PyJWT
python-multipart
sqlalchemy[asyncio]
# postgresql , sqlalchemy

sqlalchemy
psycopg[binary]
alembic
pydantic-settings

# for testing

pytest
pytest-asyncio 
httpx

pydantic[email]